#idContainer {
  min-height: 40rem;
}

#idLoading {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselProduct {
  max-width: 40rem;
}

@media only screen and (max-width: 992px) {
  .carouselProduct {
    max-width: 100%;
  }
}

.colorIMG {
  max-width: 5rem;
}
