.createPromotedInputContainer {
  max-width: 50%;
}

@media only screen and (max-width: 992px) {
  .createPromotedInputContainer {
    max-width: 100%;
  }
}

.editLinks {
  color: grey;
}

.editLinks:hover {
  color: black;
  cursor: pointer;
  text-decoration: 1px solid underline black;
}

.adminUnderHeader {
  font-size: 1.6rem;
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding: 0.2rem;
}

#adminPromoted {
  border-radius: 2rem;
  border: 1px solid rgb(184, 184, 184);
  padding: 2rem;
}

.toastMessage {
  z-index: 3;
  position: absolute;
  top: 10%;
  right: 0%;
  font-size: 1.2rem;
  font-weight: 900;
}
