.adminSelect button {
  margin: 1%;
  width: 23%;
  transition: 0.5s;
}

.adminSelect button:hover {
  background-color: white;
  color: black;
}

.adminSelectType {
  max-width: 50%;
}

@media only screen and (max-width: 992px) {
  .adminSelectType {
    max-width: 100%;
  }

  .adminSelect button {
    margin: 1%;
    width: 48%;
    transition: 0.5s;
  }
}

.div-create {
  padding-top: 1rem;
}
